In [1]:
import pandas as pd
from sqlalchemy import create_engine
from config import key

# Extract CSVs into DataFrames

In [2]:
times_file = "Resources/timesData.csv"
times_df=pd.read_csv(times_file)
times_df.head()

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,27%,33 : 67,2011
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,"11,074",9.0,33%,37 : 63,2011
3,4,Stanford University,United States of America,98.3,29.5,98.1,99.2,64.3,94.3,"15,596",7.8,22%,42 : 58,2011
4,5,Princeton University,United States of America,90.9,70.3,95.4,99.9,-,94.2,"7,929",8.4,27%,45 : 55,2011

In [3]:
shanghai_file = "Resources/shanghaiData.csv"
shanghai_df=pd.read_csv(shanghai_file)
shanghai_df.head()

,world_rank,university_name,national_rank,total_score,alumni,award,hici,ns,pub,pcp,year
0,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,72.4,2005
1,2,University of Cambridge,1,73.6,99.8,93.4,53.3,56.6,70.9,66.9,2005
2,3,Stanford University,2,73.4,41.1,72.2,88.5,70.9,72.3,65.0,2005
3,4,"University of California, Berkeley",3,72.8,71.8,76.0,69.4,73.9,72.2,52.7,2005
4,5,Massachusetts Institute of Technology (MIT),4,70.1,74.0,80.6,66.7,65.8,64.3,53.0,2005

In [4]:
cwur_file = "Resources/cwurData.csv"
cwur_df=pd.read_csv(cwur_file)
cwur_df.head()

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,1,Harvard University,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012
1,2,Massachusetts Institute of Technology,USA,2,9,17,3,12,4,4,NaN,1,91.67,2012
2,3,Stanford University,USA,3,17,11,5,4,2,2,NaN,15,89.50,2012
3,4,University of Cambridge,United Kingdom,1,10,24,4,16,16,11,NaN,50,86.17,2012
4,5,California Institute of Technology,USA,4,2,29,7,37,22,22,NaN,18,85.21,2012

In [5]:
xwalk_file = "Resources/school_and_country_table.csv"
xwalk_df=pd.read_csv(xwalk_file)
xwalk_df.head()

                             school_name                   country
0                     Harvard University  United States of America
1     California Institute of Technology  United States of America
2  Massachusetts Institute of Technology  United States of America
3                    Stanford University  United States of America
4                   Princeton University  United States of America

In [132]:
tuition_file = "Resources/tuition_cost.csv"
tuition_df=pd.read_csv(tuition_file)

tuition_df.set_index("name",inplace=True)

tuition_df.head()

,state,state_code,type,degree_length,room_and_board,in_state_tuition,in_state_total,out_of_state_tuition,out_of_state_total
name,,,,,,,,,
Aaniiih Nakoda College,Montana,MT,Public,2 Year,NaN,2380,2380,2380,2380
Abilene Christian University,Texas,TX,Private,4 Year,10350.0,34850,45200,34850,45200
Abraham Baldwin Agricultural College,Georgia,GA,Public,2 Year,8474.0,4128,12602,12550,21024
Academy College,Minnesota,MN,For Profit,2 Year,NaN,17661,17661,17661,17661
Academy of Art University,California,CA,For Profit,4 Year,16648.0,27810,44458,27810,44458

# Transform Data

In [129]:
# Filter only schools in the US

times_USA = times_df.loc[(times_df['country']=='United States of America') | (times_df['country']=='Unisted States of America')]

# Filter only on rankings from 2012-2015
times_rankyear=times_USA.loc[(times_USA['year']>=2012) & (times_USA['year']>=2015)]
times_rankyear.set_index("university_name",inplace=True)
                              
times_rankyear

,world_rank,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
university_name,,,,,,,,,,,,,
California Institute of Technology,1,United States of America,92.2,67.0,98.1,99.7,89.1,94.3,"2,243",6.9,27%,33 : 67,2015
Harvard University,2,United States of America,92.9,67.6,98.6,98.9,44.0,93.3,"20,152",8.9,25%,NaN,2015
Stanford University,4,United States of America,91.5,69.0,96.7,99.1,63.1,92.9,"15,596",7.8,22%,42 : 58,2015
Massachusetts Institute of Technology,6,United States of America,89.1,84.3,88.2,100.0,95.7,91.9,"11,074",9.0,33%,37 : 63,2015
Princeton University,7,United States of America,86.6,61.2,94.7,99.6,82.7,90.9,"7,929",8.4,27%,45 : 55,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Ohio University,601-800,United States of America,25.0,33.6,14.9,24.6,30.1,-,"22,224",20.0,10%,50 : 50,2016
Rochester Institute of Technology,601-800,United States of America,17.4,29.8,13.4,25.1,30.4,-,"12,965",13.5,13%,34 : 66,2016
University of Southern Mississippi,601-800,United States of America,21.0,20.8,11.8,20.1,39.9,-,"14,569",18.5,3%,63 : 37,2016
University of Texas at El Paso,601-800,United States of America,18.6,30.4,18.7,18.4,-,-,"19,123",29.0,7%,54 : 46,2016
Texas Tech University,601-800,United States of America,27.9,36.8,17.2,22.0,-,-,"29,512",20.9,7%,46 : 54,2016

In [8]:
cwur_USA = cwur_df.loc[(cwur_df['country']=='USA')]
cwur_USA.set_index("institution",inplace=True)

cwur_USA.head()

,world_rank,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
institution,,,,,,,,,,,,,
Harvard University,1,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012
Massachusetts Institute of Technology,2,USA,2,9,17,3,12,4,4,NaN,1,91.67,2012
Stanford University,3,USA,3,17,11,5,4,2,2,NaN,15,89.50,2012
California Institute of Technology,5,USA,4,2,29,7,37,22,22,NaN,18,85.21,2012
Princeton University,6,USA,5,8,14,2,53,33,26,NaN,101,82.50,2012

In [128]:
shanghai_rankyear = shanghai_df.loc[(shanghai_df['year']>=2012) & (shanghai_df['year']>=2015)]
shanghai_rankyear.head()

# Merge with xwalk_df to add country (inner join)
shanghai_merge=pd.merge(shanghai_rankyear,xwalk_df,left_on="university_name",right_on='school_name')

shanghai_merge_US_df=shanghai_merge.loc[(shanghai_merge['country']=='United States of America')]

shanghai_merge_US_df.set_index("university_name",inplace=True)

shanghai_merge_US_df

,world_rank,national_rank,total_score,alumni,award,hici,ns,pub,pcp,year,school_name,country
university_name,,,,,,,,,,,,
Harvard University,1,1,100.0,100.0,100.0,100.0,100.0,100.0,76.6,2015,Harvard University,United States of America
Stanford University,2,2,73.3,40.7,89.6,80.1,70.1,70.6,53.8,2015,Stanford University,United States of America
"University of California, Berkeley",4,4,69.6,65.1,79.4,66.1,65.6,67.9,56.5,2015,"University of California, Berkeley",United States of America
Princeton University,6,5,61.0,53.3,93.4,57.1,43.0,42.4,70.3,2015,Princeton University,United States of America
California Institute of Technology,7,6,59.6,49.5,66.7,49.3,56.4,44.0,100.0,2015,California Institute of Technology,United States of America
...,...,...,...,...,...,...,...,...,...,...,...,...
Saint Louis University,401-500,126-146,NaN,0.0,11.5,5.1,5.0,24.2,11.8,2015,Saint Louis University,United States of America
Syracuse University,401-500,126-146,NaN,0.0,0.0,8.1,8.0,25.2,13.4,2015,Syracuse University,United States of America
Texas Tech University,401-500,126-146,NaN,0.0,0.0,5.1,3.3,31.6,15.1,2015,Texas Tech University,United States of America
"University of Maryland, Baltimore County",401-500,126-146,NaN,0.0,0.0,17.4,6.5,17.8,17.3,2015,"University of Maryland, Baltimore County",United States of America
Wake Forest University,401-500,126-146,NaN,0.0,0.0,14.9,7.5,25.0,11.9,2015,Wake Forest University,United States of America

# Create database connection

In [130]:
rds_connection_string = f"postgres:{key}@10.0.0.6:5432/worldrankings_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [133]:
times_rankyear.to_sql(name='times',con=engine,if_exists='append',index=False)
cwur_USA.to_sql(name='cwur',con=engine,if_exists='append',index=False)
shanghai_merge_US_df.to_sql(name='shanghai',con=engine,if_exists='append',index=False)
tuition_df.to_sql(name='tuition',con=engine,if_exists='append',index=False)

# Mo's Code

In [14]:
shanghai_rankyear.head()

,world_rank,university_name,national_rank,total_score,alumni,award,hici,ns,pub,pcp,year
4397,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,76.6,2015
4398,2,Stanford University,2,73.3,40.7,89.6,80.1,70.1,70.6,53.8,2015
4399,3,Massachusetts Institute of Technology (MIT),3,70.4,68.2,80.7,60.6,73.1,61.1,68.0,2015
4400,4,"University of California, Berkeley",4,69.6,65.1,79.4,66.1,65.6,67.9,56.5,2015
4401,5,University of Cambridge,1,68.8,77.1,96.6,50.8,55.6,66.4,55.8,2015

In [19]:
sorted(shanghai_rankyear['university_name'].values)

(['Aalborg University',
  'Aalto University',
  'Aarhus University',
  'Aix Marseille University',
  'Aristotle University of Thessaloniki',
  'Arizona State University',
  'Auburn University',
  'Autonomous University of Barcelona',
  'Autonomous University of Madrid',
  'Bar-Ilan University',
  'Baylor College of Medicine',
  'Beihang University',
  'Beijing Normal University',
  'Ben-Gurion University of the Negev',
  'Bielefeld University',
  'Boston College',
  'Boston University',
  'Brandeis University',
  'Brigham Young University',
  'Brown University',
  'Brunel University',
  'Cairo University',
  'California Institute of Technology',
  'Capital Medical University',
  'Cardiff University',
  'Carleton University',
  'Carnegie Mellon University',
  'Case Western Reserve University',
  'Catholic University of Chile',
  'Catholic University of Korea',
  'Catholic University of Louvain',
  'Catholic University of the Sacred Heart',
  'Central South University',
  'Chalmers University of Technology',
  'Chang Gung University',
  'Charles University in Prague',
  'Chiba University',
  'China Agricultural University',
  'China Medical University',
  'City University of Hong Kong',
  'City University of New York City College',
  'Claude Bernard University Lyon 1',
  'Clemson University',
  'Colorado State University',
  'Columbia University',
  'Complutense University of Madrid',
  'Cornell University',
  'Curtin University',
  'Dalhousie University',
  'Dalian University of Technology',
  'Dartmouth College',
  'Deakin University',
  'Delft University of Technology',
  'Drexel University',
  'Duke University',
  'Durham University',
  'ESPCI ParisTech',
  'East China University of Science and Technology',
  'Ecole Normale Superieure - Lyon',
  'Ecole Normale Superieure - Paris',
  'Ecole Polytechnique',
  'Eindhoven University of Technology',
  'Emory University',
  'Eotvos Lorand University',
  'Erasmus University',
  'Ewha Womans University',
  'Federal University of Minas Gerais',
  'Federal University of Rio Grande do Sul',
  'Federal University of Rio de Janeiro',
  'Flinders University',
  'Florida International University',
  'Florida State University',
  'Fudan University',
  'George Mason University',
  'Georgetown University',
  'Georgia Institute of Technology',
  'Ghent University',
  'Griffith University',
  'Hannover Medical School',
  'Hanyang University',
  'Harbin Institute of Technology',
  'Harvard University',
  'Heidelberg University',
  'Hiroshima University',
  'Hokkaido University',
  'Huazhong University of Science and Technology',
  'Icahn School of Medicine at Mount Sinai',
  'Indian Institute of Science',
  'Indiana University Bloomington',
  'Indiana University-Purdue University at Indianapolis',
  'Iowa State University',
  'Istanbul University',
  'Jagiellonian University',
  'James Cook University',
  'Jilin University',
  'Johns Hopkins University',
  'Joseph Fourier University (Grenoble 1)',
  'KTH Royal Institute of Technology',
  'KU Leuven',
  'Kanazawa University',
  'Kansas State University',
  'Karlsruhe Institute of Technology (KIT)',
  'Karolinska Institute',
  'Keio University',
  'King Abdulaziz University',
  'King Abdullah University of Science and Technology',
  'King Fahd University of Petroleum & Minerals',
  'King Saud University',
  "King's College London",
  'Kobe University',
  'Korea Advanced Institute of Science and Technology',
  'Korea University',
  'Kyoto University',
  'Kyung Hee University',
  'Kyungpook National University',
  'Kyushu University',
  'Lancaster University',
  'Lanzhou University',
  'Laval University',
  'Leiden University',
  'Linkoping University',
  'London School of Economics and Political Science',
  'London School of Hygiene & Tropical Medicine',
  'Louisiana State University - Baton Rouge',
  'Lund University',
  'MINES ParisTech',
  'Maastricht University',
  'Macquarie University',
  'Massachusetts Institute of Technology (MIT)',
  'Mayo Medical School',
  'McGill University',
  'McMaster University',
  'Medical University of Graz',
  'Medical University of South Carolina',
  'Medical University of Vienna',
  'Michigan State University',
  'Monash University',
  'Moscow State University',
  'Nagoya University',
  'Nanjing Medical University',
  'Nanjing University',
  'Nankai University',
  'Nanyang Technological University',
  'Nara Institute of Science and Technology',
  'National Autonomous University of Mexico',
  'National Cheng Kung University',
  'National Chiao Tung University',
  'National Sun Yat-Sen University',
  'National Taiwan University',
  'National Tsing Hua University',
  'National University of Singapore',
  'National and Kapodistrian University of Athens',
  'New York University',
  'Newcastle University',
  'North Carolina State University - Raleigh',
  'Northeastern University',
  'Northwestern University',
  'Norwegian University of Science and Technology - NTNU',
  'Okayama University',
  'Oklahoma State University',
  'Oregon Health and Science University',
  'Oregon State University',
  'Osaka University',
  'Paris Dauphine University (Paris 9)',
  'Paul Sabatier University (Toulouse 3)',
  'Peking Union Medical College',
  'Peking University',
  'Pennsylvania State University - University Park',
  'Pierre and Marie  Curie University - Paris 6',
  'Pohang University of Science and Technology',
  'Polytechnic Institute of Milan',
  'Polytechnic University of Catalonia',
  'Polytechnic University of Valencia',
  'Pompeu Fabra University',
  'Princeton University',
  'Purdue University - West Lafayette',
  'Pusan National University',
  'Queen Mary University of London',
  "Queen's University",
  "Queen's University Belfast",
  'Queensland University of Technology',
  'RWTH Aachen University',
  'Radboud University Nijmegen',
  'Rensselaer Polytechnic Institute',
  'Rice University',
  'Rockefeller University',
  'Rush University',
  'Rutgers, The State University of New Jersey - New Brunswick',
  'Saint Louis University',
  'Saint Petersburg State University',
  'San Diego State University',
  'Sapienza University of Rome',
  'Scuola Normale Superiore - Pisa',
  'Seoul National University',
  'Shandong University',
  'Shanghai Jiao Tong University',
  'Sharif University of Technology',
  'Sichuan University',
  'Simon Fraser University',
  'Soochow University',
  'South China University of Technology',
  'Southeast University',
  'Stanford University',
  'State University of New York Health Science Center at Brooklyn',
  'Stellenbosch University',
  'Stockholm School of Economics',
  'Stockholm University',
  'Stony Brook University',
  'Sun Yat-sen University',
  'Sungkyunkwan University',
  'Swedish University of Agricultural Sciences',
  'Swinburne University of Technology',
  'Swiss Federal Institute of Technology Lausanne',
  'Swiss Federal Institute of Technology Zurich',
  'Syracuse University',
  'TU Dresden',
  'Technical University Darmstadt',
  'Technical University Munich',
  'Technical University of Berlin',
  'Technical University of Braunschweig',
  'Technical University of Denmark',
  'Technion-Israel Institute of Technology',
  'Tel Aviv University',
  'Temple University',
  'Texas A&M University',
  'Texas Tech University',
  'The Australian National University',
  'The Chinese University of Hong Kong',
  'The George Washington University',
  'The Hebrew University of Jerusalem',
  'The Hong Kong Polytechnic University',
  'The Hong Kong University of Science and Technology',
  'The Imperial College of Science, Technology and Medicine',
  'The Ohio State University - Columbus',
  'The University of Adelaide',
  'The University of Auckland',
  'The University of Calgary',
  'The University of Dundee',
  'The University of Edinburgh',
  'The University of Georgia',
  'The University of Glasgow',
  'The University of Hong Kong',
  'The University of Manchester',
  'The University of Melbourne',
  'The University of New Mexico - Albuquerque',
  'The University of New South Wales',
  'The University of Newcastle, Australia',
  'The University of Queensland',
  'The University of Reading',
  'The University of Sheffield',
  'The University of Texas Health Science Center at Houston',
  'The University of Texas Health Science Center at San Antonio',
  'The University of Texas M. D. Anderson Cancer Center',
  'The University of Texas Medical Branch at Galveston',
  'The University of Texas Southwestern Medical Center at Dallas',
  'The University of Texas at Austin',
  'The University of Texas at Dallas',
  'The University of Tokushima',
  'The University of Tokyo',
  'The University of Western Australia',
  'Thomas Jefferson University',
  'Tianjin University',
  'Tohoku University',
  'Tokyo Institute of Technology',
  'Tokyo Medical and Dental University',
  'Tongji University',
  'Toulouse School of Economics',
  'Trinity College Dublin',
  'Tsinghua University',
  'Tufts University',
  'Tulane University',
  'UNESP',
  'Umea University',
  'University College Cork',
  'University College Dublin',
  'University College London',
  'University Paris Diderot - Paris 7',
  'University at Albany (State University of New York)',
  'University at Buffalo, the State University of New York',
  'University of Aberdeen',
  'University of Alabama at Birmingham',
  'University of Alaska - Fairbanks',
  'University of Alberta',
  'University of Amsterdam',
  'University of Antwerp',
  'University of Arizona',
  'University of Arkansas at Fayetteville',
  'University of Arkansas at Little Rock',
  'University of Auvergne',
  'University of Barcelona',
  'University of Basel',
  'University of Bath',
  'University of Bayreuth',
  'University of Belgrade',
  'University of Bergen',
  'University of Bern',
  'University of Birmingham',
  'University of Bochum',
  'University of Bologna',
  'University of Bonn',
  'University of Bordeaux',
  'University of Bremen',
  'University of Bristol',
  'University of British Columbia',
  'University of Buenos Aires',
  'University of California, Berkeley',
  'University of California, Davis',
  'University of California, Irvine',
  'University of California, Los Angeles',
  'University of California, Riverside',
  'University of California, San Diego',
  'University of California, San Francisco',
  'University of California, Santa Barbara',
  'University of California, Santa Cruz',
  'University of Cambridge',
  'University of Campinas',
  'University of Cape Town',
  'University of Central Florida',
  'University of Chicago',
  'University of Chile',
  'University of Cincinnati',
  'University of Coimbra',
  'University of Colorado at Boulder',
  'University of Colorado at Denver',
  'University of Connecticut',
  'University of Copenhagen',
  'University of Delaware',
  'University of Duesseldorf',
  'University of Duisburg-Essen',
  'University of East Anglia',
  'University of Eastern Finland',
  'University of Erlangen-Nuremberg',
  'University of Essex',
  'University of Exeter',
  'University of Ferrara',
  'University of Florence',
  'University of Florida',
  'University of Frankfurt',
  'University of Freiburg',
  'University of Geneva',
  'University of Genoa',
  'University of Giessen',
  'University of Goettingen',
  'University of Gothenburg',
  'University of Granada',
  'University of Graz',
  'University of Groningen',
  'University of Guelph',
  'University of Halle-Wittenberg',
  'University of Hamburg',
  'University of Hannover',
  'University of Hawaii at Manoa',
  'University of Helsinki',
  'University of Houston',
  'University of Illinois at Chicago',
  'University of Illinois at Urbana-Champaign',
  'University of Innsbruck',
  'University of Iowa',
  'University of Jena',
  'University of Jyvaskyla',
  'University of Kansas',
  'University of Kentucky',
  'University of Kiel',
  'University of Koeln',
  'University of Konstanz',
  'University of KwaZulu-Natal',
  'University of Lausanne',
  'University of Leeds',
  'University of Leicester',
  'University of Leipzig',
  'University of Liege',
  'University of Lisbon',
  'University of Liverpool',
  'University of Ljubljana',
  'University of Lorraine',
  'University of Mainz',
  'University of Malaya',
  'University of Manitoba',
  'University of Marburg',
  'University of Maryland, Baltimore',
  'University of Maryland, Baltimore County',
  'University of Maryland, College Park',
  'University of Massachusetts Amherst',
  'University of Massachusetts Medical School - Worcester',
  'University of Miami',
  'University of Michigan-Ann Arbor',
  'University of Milan',
  'University of Milan - Bicocca',
  'University of Minnesota, Twin Cities',
  'University of Missouri - Columbia',
  'University of Montana - Missoula',
  'University of Montpellier',
  'University of Montreal',
  'University of Muenster',
  'University of Munich',
  'University of Naples Federico II',
  'University of Nebraska - Lincoln',
  'University of New Hampshire - Durham',
  'University of Nice Sophia Antipolis',
  'University of North Carolina at Chapel Hill',
  'University of Notre Dame',
  'University of Nottingham',
  'University of Oklahoma - Norman',
  'University of Oregon',
  'University of Oslo',
  'University of Otago',
  'University of Ottawa',
  'University of Oulu',
  'University of Oxford',
  'University of Padua',
  'University of Palermo',
  'University of Paris Descartes (Paris 5)',
  'University of Paris-Sud (Paris 11)',
  'University of Parma',
  'University of Pavia',
  'University of Pennsylvania',
  'University of Perugia',
  'University of Pisa',
  'University of Pittsburgh, Pittsburgh Campus',
  'University of Porto',
  'University of Quebec',
  'University of Regensburg',
  'University of Rennes 1',
  'University of Rhode Island',
  'University of Rochester',
  'University of Roma - Tor Vergata',
  'University of Rostock',
  'University of Santiago Compostela',
  'University of Sao Paulo',
  'University of Saskatchewan',
  'University of Science and Technology of China',
  'University of Science, Malaysia',
  'University of Seville',
  'University of South Carolina - Columbia',
  'University of South Florida',
  'University of Southampton',
  'University of Southern California',
  'University of Southern Denmark',
  'University of St Andrews',
  'University of Strasbourg',
  'University of Stuttgart',
  'University of Surrey',
  'University of Sussex',
  'University of Sydney',
  'University of Szeged',
  'University of Tasmania',
  'University of Technology, Sydney',
  'University of Tehran',
  'University of Tennessee - Knoxville',
  'University of Toronto',
  'University of Trieste',
  'University of Tsukuba',
  'University of Tuebingen',
  'University of Turin',
  'University of Turku',
  'University of Twente',
  'University of Ulm',
  'University of Utah',
  'University of Valencia',
  'University of Vermont',
  'University of Victoria',
  'University of Vienna',
  'University of Virginia',
  'University of Wageningen',
  'University of Warsaw',
  'University of Warwick',
  'University of Washington',
  'University of Waterloo',
  'University of Wisconsin - Madison',
  'University of Wollongong',
  'University of Wuerzburg',
  'University of Wyoming',
  'University of York',
  'University of Zaragoza',
  'University of Zurich',
  'University of the Basque Country',
  'University of the Witwatersrand',
  'UniversitÃ© libre de Bruxelles (ULB)',
  'Uppsala University',
  'Utah State University',
  'Utrecht University',
  'VU University Amsterdam',
  'Vanderbilt University',
  'Vienna University of Technology',
  'Virginia Commonwealth University',
  'Virginia Polytechnic Institute and State University',
  'Vrije Universiteit Brussel (VUB)',
  'Wake Forest University',
  'Washington State University',
  'Washington University in St. Louis',
  'Wayne State University',
  'Weizmann Institute of Science',
  'Western University',
  'Wuhan University',
  'Xiamen University',
  'Xian Jiao Tong University',
  'Yale University',
  'Yeshiva University',
  'Yonsei University',
  'Zhejiang University'],
 ['AGH University of Science and Technology',
  'Aalborg University',
  'Aalto University',
  'Aarhus University',
  'Aberystwyth University',
  'Adam Mickiewicz University',
  'Aix-Marseille University',
  'Ajou University',
  'Alexandria University',
  'Alexandru Ioan Cuza University',
  'Aligarh Muslim University',
  'American University',
  'American University of Beirut',
  'American University of Sharjah',
  'Amirkabir University of Technology',
  'Amrita University',
  'Anadolu University',
  'Andhra University',
  'Aristotle University of Thessaloniki',
  'Arizona State University',
  'Asia University, Taiwan',
  'Aston University',
  'Athens University of Economics and Business',
  'Auburn University',
  'Auckland University of Technology',
  'Austral University of Chile',
  'Australian National University',
  'Autonomous University of Barcelona',
  'Autonomous University of Madrid',
  'BabeÅŸ-Bolyai University',
  'Bangor University',
  'Bar-Ilan University',
  'Bauman Moscow State Technical University',
  'Bayreuth University',
  'Beijing Institute of Technology',
  'Belarusian State University',
  'Ben-Gurion University of the Negev',
  'Bielefeld University',
  'Bilkent University',
  'Binghamton University, State University of New York',
  'Birkbeck, University of London',
  'Birla Institute of Technology and Science, Pilani',
  'Blaise Pascal University',
  'Boston College',
  'Boston University',
  'Bournemouth University',
  'BoÄŸaziÃ§i University',
  'Brandeis University',
  'Brno University of Technology',
  'Brown University',
  'Brunel University London',
  'Budapest University of Technology and Economics',
  'Cairo University',
  'California Institute of Technology',
  'California State University, Long Beach',
  'Capital Medical University',
  'Cardiff University',
  'Carleton University',
  'Carlos III University of Madrid',
  'Carnegie Mellon University',
  'Case Western Reserve University',
  'Catholic University of the Sacred Heart',
  'Caâ€™ Foscari University of Venice',
  'Central Queensland University',
  'Chalmers University of Technology',
  'Chang Gung University',
  'CharitÃ© - UniversitÃ¤tsmedizin Berlin',
  'Charles Darwin University',
  'Charles University in Prague',
  'Chiang Mai University',
  'Chiba University',
  'China Agricultural University',
  'China Medical University, Taiwan',
  'China University of Geosciences (Wuhan)',
  'China University of Petroleum (Beijing)',
  'Chinese University of Hong Kong',
  'Chonbuk National University',
  'Chongqing University',
  'Chonnam National University',
  'Chulalongkorn University',
  'Chung Yuan Christian University',
  'Chung-Ang University',
  'Chungnam National University',
  'City University London',
  'City University of Hong Kong',
  'Claude Bernard University Lyon 1',
  'Clemson University',
  'Colorado School of Mines',
  'Colorado State University',
  'Columbia University',
  'Comenius University in Bratislava',
  'Complutense University of Madrid',
  'Concordia University',
  'Copenhagen Business School',
  'Cornell University',
  'Coventry University',
  'Creighton University',
  'Curtin University',
  'Czech Technical University in Prague',
  'Dalhousie University',
  'Dalian University of Technology',
  'Dartmouth College',
  'De Montfort University',
  'Deakin University',
  'Delft University of Technology',
  'Drexel University',
  'Dublin City University',
  'Dublin Institute of Technology',
  'Duke University',
  'Durham University',
  'ETH Zurich â€“ Swiss Federal Institute of Technology Zurich',
  'East China Normal University',
  'East China University of Science and Technology',
  'Edith Cowan University',
  'Ehime University',
  'Eindhoven University of Technology',
  'Emory University',
  'Erasmus University Rotterdam',
  'Erciyes University',
  'Ewha Womans University',

In [22]:
len(set(sorted(xwalk_df['school_name'].values)))

818

In [28]:
len(sorted(set(xwalk_df.loc[xwalk_df['country'] == 'United States of America','school_name'].values)))

161

In [40]:
school_names_us = set(xwalk_df.loc[xwalk_df['country'] == 'United States of America','school_name'].values)

In [52]:
school_names = set(shanghai_rankyear['university_name'].values)

In [53]:
len(school_names)

500

In [54]:
"Arizona State University" in school_names

True

In [110]:
# Looking for matching United States Schools

for  school_us in school_names_us:
    found = False
    for school in school_names:
        if school in school_us or school_us in school:
            found_names.append(school)
            found =True
    if(not found):not_found_names.append(school_us)

In [119]:
filtered_df = shanghai_rankyear.loc[shanghai_rankyear['university_name'].isin(found_names)]

In [120]:
filtered_df.reset_index(inplace=True)

In [121]:
filtered_df

,index,world_rank,university_name,national_rank,total_score,alumni,award,hici,ns,pub,pcp,year
0,4397,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,76.6,2015
1,4398,2,Stanford University,2,73.3,40.7,89.6,80.1,70.1,70.6,53.8,2015
2,4399,3,Massachusetts Institute of Technology (MIT),3,70.4,68.2,80.7,60.6,73.1,61.1,68.0,2015
3,4400,4,"University of California, Berkeley",4,69.6,65.1,79.4,66.1,65.6,67.9,56.5,2015
4,4402,6,Princeton University,5,61.0,53.3,93.4,57.1,43.0,42.4,70.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...
112,4853,401-500,University of Arkansas at Fayetteville,126-146,NaN,0.0,0.0,12.2,6.1,24.4,14.1,2015
113,4854,401-500,University of Arkansas at Little Rock,126-146,NaN,0.0,0.0,10.7,2.1,24.4,19.9,2015
114,4872,401-500,"University of Maryland, Baltimore County",126-146,NaN,0.0,0.0,17.4,6.5,17.8,17.3,2015
115,4875,401-500,University of Oklahoma - Norman,126-146,NaN,0.0,0.0,5.1,10.0,28.0,14.0,2015
116,4896,401-500,Wake Forest University,126-146,NaN,0.0,0.0,14.9,7.5,25.0,11.9,2015

In [122]:
shanghai_merge

,world_rank,university_name,national_rank,total_score,alumni,award,hici,ns,pub,pcp,year,school_name,country
0,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,76.6,2015,Harvard University,United States of America
1,2,Stanford University,2,73.3,40.7,89.6,80.1,70.1,70.6,53.8,2015,Stanford University,United States of America
2,3,Massachusetts Institute of Technology (MIT),3,70.4,68.2,80.7,60.6,73.1,61.1,68.0,2015,NaN,NaN
3,4,"University of California, Berkeley",4,69.6,65.1,79.4,66.1,65.6,67.9,56.5,2015,"University of California, Berkeley",United States of America
4,5,University of Cambridge,1,68.8,77.1,96.6,50.8,55.6,66.4,55.8,2015,University of Cambridge,United Kingdom
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,401-500,University of Trieste,11-20,NaN,0.0,0.0,5.0,10.9,25.1,20.1,2015,University of Trieste,Italy
496,401-500,University of Zaragoza,9-13,NaN,0.0,0.0,7.6,5.1,33.3,13.1,2015,University of Zaragoza,Spain
497,401-500,Utah State University,126-146,NaN,13.6,0.0,3.6,10.8,25.1,15.5,2015,NaN,NaN
498,401-500,Vienna University of Technology,4-6,NaN,0.0,0.0,0.0,12.2,28.8,22.9,2015,Vienna University of Technology,Austria
499,401-500,Wake Forest University,126-146,NaN,0.0,0.0,14.9,7.5,25.0,11.9,2015,Wake Forest University,United States of America

In [125]:
shanghai_merge_US=shanghai_merge.loc[(shanghai_merge['country']=='United States of America')]

shanghai_merge_US

,world_rank,university_name,national_rank,total_score,alumni,award,hici,ns,pub,pcp,year,school_name,country
0,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,76.6,2015,Harvard University,United States of America
1,2,Stanford University,2,73.3,40.7,89.6,80.1,70.1,70.6,53.8,2015,Stanford University,United States of America
2,4,"University of California, Berkeley",4,69.6,65.1,79.4,66.1,65.6,67.9,56.5,2015,"University of California, Berkeley",United States of America
4,6,Princeton University,5,61.0,53.3,93.4,57.1,43.0,42.4,70.3,2015,Princeton University,United States of America
5,7,California Institute of Technology,6,59.6,49.5,66.7,49.3,56.4,44.0,100.0,2015,California Institute of Technology,United States of America
...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,401-500,Saint Louis University,126-146,NaN,0.0,11.5,5.1,5.0,24.2,11.8,2015,Saint Louis University,United States of America
295,401-500,Syracuse University,126-146,NaN,0.0,0.0,8.1,8.0,25.2,13.4,2015,Syracuse University,United States of America
296,401-500,Texas Tech University,126-146,NaN,0.0,0.0,5.1,3.3,31.6,15.1,2015,Texas Tech University,United States of America
309,401-500,"University of Maryland, Baltimore County",126-146,NaN,0.0,0.0,17.4,6.5,17.8,17.3,2015,"University of Maryland, Baltimore County",United States of America
322,401-500,Wake Forest University,126-146,NaN,0.0,0.0,14.9,7.5,25.0,11.9,2015,Wake Forest University,United States of America